@model CodeFilterViewModel

<form method="post" asp-action="SearchByBoatCode" asp-controller="Home">
    @Html.AntiForgeryToken()
    <div class="input-group">
        <input asp-for="BoatCode" class="form-control" type="text"
               placeholder="@SharedResources.FilterCodeInput" />
        <button class="btn btn-primary" type="submit">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>
