@model FilterViewModel

<form method="POST" asp-action="Search" asp-controller="Home">
    <div class="row row-cols-1 text-dark text-start row-cols-sm-2 row-cols-md-4 g-3 p-1">
        <div class="col d-flex flex-column">
            <label asp-for="CategoryId" class="form-label">
                Category
            </label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-binoculars"></i>
                </span>
                <select asp-for="CategoryId" asp-items="@(ViewBag.CategoriesSelectList)" class="form-select">
                    <option value="" selected>Select...</option>
                </select>
            </div>
        </div>

        <div class="col d-flex flex-column">
            <label asp-for="Cabin" class="form-label">
                Cabin
            </label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-border-all"></i>
                </span>
                <input asp-for="Cabin" class="form-control" type="number" placeholder="Enter a number!" />
            </div>
        </div>

        <div class="col d-flex flex-column">
            <label asp-for="Guests" class="form-label">
                Guests
            </label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-people"></i>
                </span>
                <input asp-for="Guests" class="form-control" type="number" placeholder="Enter a number!" />
            </div>
        </div>

        <div class="col d-flex align-items-end justify-content-center">
            <button type="submit" class="btn btn-primary w-100">
                <i class="me-2 bi bi-search"></i> Search
            </button>
        </div>
    </div>
</form>
