<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SealingPeople</title>

	<link rel="icon" href="~/images/logo.svg">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
	<header>
		@await Component.InvokeAsync("Navbar")
	</header>

	<main role="main" class="pb-5">
		@RenderBody()
	</main>

	<section class="footer-section bg-light">
		<footer class="footer">
			<div class="container">
				<div class="row row-cols-1 row-cols-md-4 g-4 align-items-start">
					<div class="col">
						<h4 class="text-primary fw-bold f-calvino">Follow Us</h4>
						<ul class="list-unstyled text-left">
							<li>
								<a href="https://www.facebook.com/sailingandpeoplecom/" target="_blank">
									<i class="bi bi-facebook"></i> Facebook
								</a>
							</li>
							<li>
								<a href="https://twitter.com/sailing_people/" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										 class="bi bi-twitter-x" viewBox="0 0 16 16">
										<path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
									</svg>
									<span>X</span>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/sailingandpeople/" target="_blank">
									<i class="bi bi-instagram"></i> Instagram
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/sailing-and-people/" target="_blank">
									<i class="bi bi-linkedin"></i> LinkedIn
								</a>
							</li>
							<li>
								<a href="https://www.youtube.com/channel/UC_LQt8r6LuEUj3a6KBKqXaQ" target="_blank">
									<i class="bi bi-youtube"></i> YouTube
								</a>
							</li>
							<li>
								<a href="https://wa.me/905300907998" target="_blank">
									<i class="bi bi-whatsapp"></i> WhatsApp
								</a>
							</li>
						</ul>
					</div>

					<div class="col">
						<h4 class="text-primary fw-bold f-calvino">Contact Information</h4>
						<ul class="list-unstyled mb-0">
							<li class="mb-2">
								<i class="bi bi-telephone me-1"></i>
								<a href="tel:0530 090 79 98" class="text-decoration-none">
									0530 090 79 98
								</a>
							</li>
							<li>
								<i class="bi bi-envelope me-1"></i>
								<a href="mailto:info@sailingandpeople.com" class="text-decoration-none">
									info@sailingandpeople.com
								</a>
							</li>
						</ul>
					</div>

					<div class="col">
						<h4 class="text-primary fw-bold f-calvino">Pages</h4>
						<ul class="list-unstyled text-left">
							<li class="mb-2">
								<a asp-controller="Home" asp-action="Index" class="text-decoration-none">
									<i class="bi bi-house-door me-1"></i> @SharedResources.Home
								</a>
							</li>
							<li class="mb-2">
								<a asp-controller="Home" asp-action="Contact" class="text-decoration-none">
									<i class="bi bi-envelope me-1"></i> @SharedResources.Contact
								</a>
							</li>
						</ul>
					</div>

					<div class="col">
						<h4 class="text-primary fw-bold f-calvino mb-3">Find Us</h4>
						<div class="ratio ratio-16x9">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.7515774022363!2d28.26044101536053!3d37.044747779560045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bf3868e33e9bc3%3A0x7148cfbf5ca7fdb4!2sMu%C4%9Fla!5e0!3m2!1str!2str!4v1672381736282!5m2!1str!2str"
									style="border:0;" allowfullscreen loading="lazy"
									referrerpolicy="no-referrer-when-downgrade">
							</iframe>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="text-center mt-4">
						<p>
							Sailing & People is a SIESTA YATCILIK A.Ş. brand. <br />
							© 2025 CMOS Teknoloji
						</p>
					</div>
				</div>
			</div>
		</footer>
	</section>

	<script type="importmap"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>