@{
	ViewData["Title"] = "Admin Panel";
}

<div class="container mt-5">
	<h1 class="mb-4 text-center">Admin Panel</h1>
	<div class="p-4 mb-4 rounded shadow" style="background-color: #f8f9fa;">
		<h4 class="mb-3">Transactions</h4>
		<div class="d-flex flex-wrap gap-2">
			<a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="Create">
				Add New Boat
			</a>
		</div>
	</div>
</div>