@{
    ViewData["Title"] = "İletişim";
}

<section class="py-5">
    <div class="container">
        <div class="row g-5 d-flex align-items-start">

            <div class="col-12 col-md-6">
                <h2 class="f-calvino mb-4">Mesaj Gönderin</h2>
                <div class="contact-form-section">
                    <partial name="_ContactFormPartial" model="Model" />
                </div>
            </div>

            <div class="col-12 col-md-6">
                <h2 class="f-calvino mb-4">Bize Ulaşın</h2>
                <p class="text-muted">
                    Herhangi bir sorunuz veya endişeniz mi var? Aşağıdaki bilgileri kullanmaktan çekinmeyin, size yardımcı olmak için elimizden geleni yapacağız.
                </p>

                <div class="mt-4">
                    <h5><i class="bi bi-envelope me-2"></i> E-posta</h5>
                    <p>
                        <a href="mailto:alioguducu@gmail.com" class="text-decoration-none text-muted">
                            alioguducu@gmail.com
                        </a>
                    </p>
                </div>

                <div class="mt-4">
                    <h5>Sosyal Medya</h5>
                    <p>
                        <a href="https://www.facebook.com/sailingandpeoplecom/" class="text-decoration-none me-3" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://www.twitter.com/sailing_people" class="text-decoration-none me-3" target="_blank">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/sailingandpeople/" class="text-decoration-none me-3" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/sailing-and-people/" class="text-decoration-none me-3" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UC_LQt8r6LuEUj3a6KBKqXaQ" class="text-decoration-none me-3" target="_blank">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>